:root {
    --heading-font-family: "Sour Gummy", sans-serif;
    --heading-font-weight: 500;
    --heading-text-color: #020887;
    --heading-background-color: #707078;
    --body-font-family: "Faculty Glyphic";
    --body-font-weight: 400;
    --body-text-color: #FAFFFD;
    --body-background-color: #000000;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    position: absolute;
}

article {
    position: absolute;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
}

p {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--body-text-color);
    background-color: var(--body-background-color);
}

.sociallinks a{
    text-decoration: none;
}

.sociallinks img {
    width: 50px;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    bottom: 650px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    width: 1000px;
    left: 100px;
    bottom: 375px;
    text-align: center;
    opacity: 75%;
}

.hero article img {
    margin-top: 25px;
    float: right;
    width: 175px;
    height: auto;
}