:root {
    --heading-font-family: "Sour Gummy", sans-serif;
    --heading-font-weight: 500;
    --heading-text-color: #020887;
    --heading-background-color: #707078;
    --body-font-family: "Faculty Glyphic";
    --body-font-weight: 400;
    --body-text-color: #000000;
    --body-background-color: #FAFFFD;
}

a:visited {
    color: #020887;
}

a:link {
    color: #FAFFFD;
}

a {
    text-decoration: none;
}

h1 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    position: absolute;
}

article {
    position: absolute;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    color: var(--heading-text-color);
    background-color: var(--heading-background-color);
    text-align: center;
}

p {
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
    color: var(--body-text-color);
    background-color: var(--body-background-color);
}

.sociallinks a{
    text-decoration: none;
}

.sociallinks img {
    width: 50px;
    height: auto;
}

.hero {
    position: relative;
}

.hero h1 {
    position: absolute;
    bottom: 650px;
    left: 0px;
    width: 100%;
    text-align: center;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article {
    position: absolute;
    width: 1000px;
    left: 100px;
    bottom: 375px;
    text-align: center;
    opacity: 75%;
}

.hero article img {
    margin-top: 25px;
    float: right;
    width: 175px;
    height: auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 300px 2fr;
    align-items: center;
    border-bottom: 1px solid #707078;
    max-width: 1000px;
    background-color: #707078;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 360px;
    height: auto;
}

nav {
    text-align: right;
    font-family: var(--heading-font-family);
    font-weight: var(--heading-font-weight);
    font-size: 25px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    display: block;
    padding: 20px;
}

figcaption {
    text-align: center;
    font-family: var(--body-font-family);
    font-weight: var(--body-font-weight);
}

.figureflex {
    display: flex;
}

figure img {
    width: 225px;
    height: 150px;
    justify-content: space-around;
}

figure {
    padding: 7px;
    margin: 1px;
}

.history {
    display: flex;
    width: auto;
}

.history img {
    width: 250px;
    height: 200px;
    margin-top: 15px;
}

.history p {
    width: 650px;
    text-align: center;
    padding: 1rem;
}

.contacts {
    display: grid;
}

.contacts p {
    width: 405px;
    text-align: center;
}

.contacts fieldset {
    margin-bottom: .5rem;
    margin-left: 5rem;
    width: 41px;
}

.staff img {
    width: 150px;
    height: auto;
}

.staff fieldset{
    width: 550px;
    height: 950px;
    position: relative;
    left: 525px;
    bottom: 463px;
    padding-bottom: 50px;
    padding-top: 25px;
}

.staff h2 {
    width: 150px;
    position: relative;
    left: 200px;
    bottom: 200px;
}

.staff p {
    width: 300px;
    position: relative;
    left: 175px;
    bottom: 200px;
}

.form fieldset {
    width: 405px;
    height: 493px;
    position: relative;;
    bottom: 975px;
    margin-left: 5rem;
    font-family: var(--body-font-family);
}

.form label {
    margin: 1rem;
}

.form-item {
    margin: 1rem;
}

.problem  {
    text-align: left;
}

.form textarea {
    position: absolute;
    left: 50px;
    width: 300px;
    margin-top: 2rem;
}

.newsletter input {
    margin-top: 7rem;
}

button {
    width: 250px;
    height: 50px;
    position: absolute;
    margin-top: 2rem;
    left: 75px;
    background-color: var(--heading-background-color);
    color: #FAFFFD;
    font-family: var(--body-font-family);
}

button:hover {
    background-color: #000000;
}

.purpose {
    display: flex;
}

.reply {
    margin-top: 2rem;
}

.wireframe a:link {
    color: #000000;
}

.hero h6 {
    font-size: 36px;
    position: absolute;
    bottom: 250px;
    left: 225px;
    padding: .5rem;
}

.index-field fieldset {
    width: 275px;
    font-family: var(--body-font-family);
}

.promotions {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.action {
    position: absolute;
    border: 3px solid #020887;
    width: 650px;
    height: 135px;
    left: 450px;
    bottom: -450px;
    text-align: center;
    background-color: #707078;
}

.action h1, .contact-action h1 {
    position: absolute;
    left: 125px;
    bottom: 60px;
    width: 400px;
    font-size: 30px;
}

.action a, .contact-action a {
    font-family: var(--body-font-family);
    font-size: 24px;
}

.action p, .contact-action p {
    margin-top: 3rem;
    background: #707078;
    color: #FAFFFD;
}

.two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10rem;
}

.sharkinfo {
    margin-left: 3rem;
    margin-top: 3rem;
}

.trip img {
    width: 200px;
}

.trip {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    align-items: center;
}

table {
    border-collapse: collapse;
    border: 3px solid rgb(140 140 140);
    font-family: var(--body-font-family);
    font-size: 0.8rem;
    text-align: center;
    width: 500px;
  }


th, td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.contact-action {
    position: absolute;
    border: 3px solid #020887;
    width: 500px;
    height: 135px;
    left: 600px;
    bottom: -35px;
    text-align: center;
    background-color: #707078;
}

.contact-action h1 {
    width: 500px;
    left: 0;
}

.frame a:link {
    color: #000000;
}