* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sour Gummy", sans-serif;
    font-size: 1.2em;
    color: #333;
    background-color: #fff;
}

header {
    margin: 1rem;
    width: 1150px;
}

h1 {
    margin: 1.5rem;
    font-size: 1.75em;
    color: firebrick;
    text-align: center;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border:  1px solid rgb(150, 26, 145 / 0.1);
    border-radius: 1rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .75rem;
    margin: 1.5rem;
    border: 1.5px solid rgb(25, 150, 145 / 0.1);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: slateblue;
    font-size: 1.5em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: .75rem;
    font-size: 1.25em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1.5rem;
    background-color: grey;
    color: navy;
    border: .25px solid rgb(100, 100, 100);
    border-radius: .5rem;
    padding: .5rem;
    font-size: 1.25em;
}

button:hover {
    background-color: plum;
}

footer {
    margin: 1rem auto 0;
    width: 650px;
    text-align: center;
    font-size: .5em;
    color: cornflowerblue;
    border-top: 1px solid rgb(60, 0, 75);
}

.form-item {
    display: grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin:  .75rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
    margin: .5rem;
}

.fav {
    text-align: center;
}

.browser {
    text-align: center;
}

.pet {
    display: grid;
    align-items: center;
}

.lived {
    text-align: center;
}